 <div class="container_12">
    <div id="top">
      <div class="grid_3">
        <div class="phone_top">
        	{load href="__JS__/selectBox.js" /}
          Call Us +777 (100) 1234
        </div><!-- .phone_top -->
      </div><!-- .grid_3 -->

      <div class="grid_6">
        <div class="welcome">
          	{$user}
        </div><!-- .welcome -->
      </div><!-- .grid_6 -->

      <div class="grid_3">
      </div><!-- .grid_3 -->
    </div><!-- #top -->

    <div class="clear"></div>

    
  </div><!-- .container_12 -->

  <div class="clear"></div>

